version: '3.1'

services:
  theengsgateway:
    image: theengs/gateway:latest
    network_mode: host
    environment:
      MQTT_HOST: 192.168.0.200
      MQTT_USERNAME: username
      MQTT_PASSWORD: ubersecretpassword
      MQTT_PUB_TOPIC: home/TheengsGateway/BTtoMQTT
      MQTT_SUB_TOPIC: home/+/BTtoMQTT/undecoded
      MQTT_PRE_TOPIC: home/presence/TheengsGateway
      PRESENCE: false
      PUBLISH_ALL: true
      PUBLISH_ADVDATA: false
      TIME_FORMAT: false
      TIME_SYNC: "[]"
      TIME_BETWEEN: 60
      SCAN_TIME: 5
      LOG_LEVEL: DEBUG
      DISCOVERY: true
      HASS_DISCOVERY: true
      DISCOVERY_TOPIC: homeassistant
      DISCOVERY_DEVICE_NAME: TheengsGateway
      DISCOVERY_FILTER: "[IBEACON]"
      SCANNING_MODE: active
      ADAPTER: hci0
      BINDKEYS: "{}"
      ENABLE_TLS: false
      ENABLE_WEBSOCKET: false
      IDENTITIES: "{}"

    volumes:
      - /var/run/dbus:/var/run/dbus
